# Compiler files
cache/
out/
zkout/
cache-zk/
lib/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

zkcast
zkforge
rich-wallets.json
node_modules
.gitmodules
src/

broadcast/
artifacts
artifacts-zk/
abis/
.DS_Store
typechain
proposals/
deployment-order
scripts/Setting GovernorOperations address to SciManager, GovernorResearch and PO token addresses.json
scripts/Setting Gov Params.json
abi
flattened