# Compiler files
cache/
out/
zkout/
cache-zk/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

zkcast
zkforge
rich-wallets.json
node_modules
.gitmodules
src/

argumentsDonation.js
argumentsGovRes.js
argumentsTrading.js
broadcast/
artifacts-zk/
abis/